<h1 class="mt-3 text-center">
  Questions for Quiz: <span style="font-weight: bold; color: #3f51b5">{{ qTitle }}</span>
</h1>

<div class="bootstrap-wrapper text-center mt-3">
  <button [routerLink]="['/admin/add-question', qId, qTitle]" mat-raised-button color="accent">
    <mat-icon>add</mat-icon> Add New Question
  </button>
</div>

<div class="mt-4">
  <div class="row">
    <div class="col-md-12">
      <mat-card *ngFor="let q of questions; let i = index" class="mb-4">
        <mat-card-content>
          <p>
            <b>Q {{ i + 1 }})</b> <span class="ms-2" [innerHTML]="q.content"></span>
          </p>

          <div class="container-fluid mt-3">
            <div class="row">
              <div class="col-md-6">
                <p><b>1.</b> {{ q.option1 }}</p>
              </div>
              <div class="col-md-6">
                <p><b>2.</b> {{ q.option2 }}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <p><b>3.</b> {{ q.option3 }}</p>
              </div>
              <div class="col-md-6">
                <p><b>4.</b> {{ q.option4 }}</p>
              </div>
            </div>
          </div>

          <mat-divider class="mt-3 mb-3"></mat-divider>
          <p class="mt-2 text-success"><b>Correct Answer:</b> {{ q.answer }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button (click)="deleteQuestion(q.quesId)" mat-button color="warn">Delete</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="questions.length == 0">
        <mat-card-content class="text-center">
          <h3>No questions found for this quiz yet.</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
