<div class="bootstrap-wrapper">
  <div class="container-fluid" *ngIf="!isSubmit">
    <div class="row mt-3">
      <div class="col-md-9">
        <ng-container *ngIf="questions.length > 0">
          <h1 class="mt-2">
            On Going Exam: <b>{{ questions[0].quiz.title }}</b>
          </h1>
        </ng-container>

        <mat-card *ngFor="let q of questions; let i = index" class="mb-3">
          <mat-card-content>
            <p>
              <b>Q {{ i + 1 }})</b> <span [innerHTML]="q.content"></span>
            </p>
            <mat-divider class="mb-3"></mat-divider>

            <div class="row">
              <div class="col-md-6 mb-2">
                <input
                  type="radio"
                  [value]="q.option1"
                  [(ngModel)]="q.givenAnswer"
                  [name]="'q' + i"
                />
                {{ q.option1 }}
              </div>
              <div class="col-md-6 mb-2">
                <input
                  type="radio"
                  [value]="q.option2"
                  [(ngModel)]="q.givenAnswer"
                  [name]="'q' + i"
                />
                {{ q.option2 }}
              </div>
              <div class="col-md-6 mb-2">
                <input
                  type="radio"
                  [value]="q.option3"
                  [(ngModel)]="q.givenAnswer"
                  [name]="'q' + i"
                />
                {{ q.option3 }}
              </div>
              <div class="col-md-6 mb-2">
                <input
                  type="radio"
                  [value]="q.option4"
                  [(ngModel)]="q.givenAnswer"
                  [name]="'q' + i"
                />
                {{ q.option4 }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="text-center mt-4 mb-4">
          <button (click)="submitQuiz()" mat-raised-button color="primary">Submit Quiz</button>
        </div>
      </div>

      <div class="col-md-3">
        <mat-card style="position: sticky; top: 20px">
          <mat-card-header>
            <mat-card-title>Progress & Timer</mat-card-title>
            <mat-card-subtitle>Quiz will auto-submit when time is up</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="text-center mt-3">
            <h1 style="font-size: 3rem; color: #f44336; font-weight: bold">
              {{ getFormattedTime() }}
            </h1>
            <mat-divider class="mb-3 mt-3"></mat-divider>
            <p>
              Questions Attempted: <b>{{ attempted }} / {{ questions.length }}</b>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container mt-5" *ngIf="isSubmit">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="text-center">
          <mat-card-header>
            <mat-card-title class="w-100 mt-2">Exam Results</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h1 class="mt-4" style="color: #3f51b5; font-size: 4rem">
              {{ marksGot }} / {{ questions[0].quiz.maxMarks }}
            </h1>
            <p class="mt-3">
              Correct Answers: <b>{{ correctAnswers }}</b>
            </p>
            <p>
              Total Attempted: <b>{{ attempted }}</b>
            </p>
          </mat-card-content>
          <mat-card-actions class="text-center mb-3">
            <button routerLink="/user-dashboard/0" mat-raised-button color="primary">
              Return to Home
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
